<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body p-4">
        <div class="row g-3">
          <div class="col-lg-2 col-sm-6">
            <label for="nifty">Instrument</label>
            <input
              type="text"
              class="form-control bg-light border-0"
              id="nifty"
              placeholder="Invoice No"
              value="NIFTY" readonly
            />
          </div>
          <div class="col-lg-2 col-sm-6">
            <label class="d-block mb-2">Product</label>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="productType"
                id="intraday"
                value="Intraday"
              />
              <label class="form-check-label" for="intraday">Intraday</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="productType"
                id="margin"
                value="Margin"
              />
              <label class="form-check-label" for="margin">Margin</label>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <label class="d-block mb-2">Order Type</label>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="orderType"
                id="market"
                value="Market"
                (change)="onOrderTypeChange($event)"
              />
              <label class="form-check-label" for="market">Market</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="orderType"
                id="marketProtetion"
                value="Market Protection"
                (change)="onOrderTypeChange($event)"
              />
              <label class="form-check-label" for="marketProtetion"
                >Market Protection</label
              >
            </div>
          </div>
          <div class="col-lg-2 col-sm-6" *ngIf="showMarketProtection">
            <div>
              <label for="totalamountInput">Market Protection %</label>
              <div class="input-light">
                <select
                  class="form-control bg-light border-0"
                  data-choices
                  data-choices-search-false
                  id="choices-payment-status"
                  required
                >
                  <option value="">Select Percentage</option>
                  <option value="1 %">1 %</option>
                  <option value="2 %">2 %</option>
                  <option value="3 %">3 %</option>
                  <option value="4 %">4 %</option>
                  <option value="5 %">5 %</option>
                  <option value="6 %">6 %</option>
                  <option value="7 %">7 %</option>
                  <option value="8 %">8 %</option>
                  <option value="9 %">9 %</option>
                  <option value="10 %">10 %</option>
                  <option value="11 %">11 %</option>
                  <option value="12 %">12 %</option>
                  <option value="13 %">13 %</option>
                  <option value="14 %">14 %</option>
                  <option value="15 %">15 %</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-4 border-top border-top-dashed">
        <h6 class="fw-bold mb-4">Risk Management</h6>
        <div class="row g-3">
          <div class="col-lg-2 col-sm-6">
            <label for="stoplossTrade">Stoploss for Base Trade</label>
            <input
              type="number"
              class="form-control bg-light border-0"
              id="stoplossTrade"
              name="stoplossTrade"
              placeholder="Points/ % of points"
            />
          </div>
          <div class="col-lg-2 col-sm-6">
            <div>
              <label for="dayTarget">Day Target</label>
              <input
                type="number"
                class="form-control bg-light border-0"
                id="dayTarget"
                name="dayTarget"
              />
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <label for="dayLoss">Day Loss</label>
            <input
              type="number"
              class="form-control bg-light border-0"
              id="dayLoss"
              name="dayLoss"
            />
          </div>
          <div class="col-lg-2 col-sm-6">
            <div>
              <label for="trailingMTM">Trailing MTM from</label>
              <input
                type="number"
                class="form-control bg-light border-0"
                id="trailingMTM"
                name="trailingMTM"
              />
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div>
              <label for="trailMTM">Trail MTM Increment</label>
              <input
                type="number"
                class="form-control bg-light border-0"
                id="trailMTM"
                name="trailMTM"
              />
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div>
              <label for="profitProtect">Profit Protect</label>
              <div class="input-group">
                <input
                  type="number"
                  class="form-control bg-light border-0"
                  id="profitProtect"
                  name="profitProtect"
                />
                <span class="input-group-text">%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-4 border-top border-top-dashed">
        <h6 class="fw-bold mb-4">Trade Settings</h6>
        <div class="row">
          <div class="col-lg-6">
            <h6 class="fw-bold mb-3">Bull Trades</h6>
            <h6 class="fw-bold mb-3">Base Trade</h6>

            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">B/S</label>

                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsBuy ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBull()"
                    >
                      {{ bullIsBuy ? 'B' : 'S' }}
                    </button>
                  </div>
                </div>

                <div class="col">
                  <label class="text-muted fw-semibold">Strike</label>
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <label class="text-muted fw-semibold">Quantity</label>
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBull()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bullQuantity }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBull()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">CE/PE</label>
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsCE ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullCE()"
                    >
                      {{ bullIsCE ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <label for="expiry" class="form-label">Expiry</label>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsBuyRow ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullRow()"
                    >
                      {{ bullIsBuyRow ? 'B' : 'S' }}
                    </button>
                  </div>
                </div>

                <div class="col">
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBullRow()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bullQuantityRow }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBullRow()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsCERow ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullCERow()"
                    >
                      {{ bullIsCERow ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <h6 class="fw-bold mb-3">Bear Trades</h6>
            <h6 class="fw-bold mb-3">Base Trade</h6>

            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">CE/PE</label>
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsBuy ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBear()"
                    >
                      {{ bearIsBuy ? 'B' : 'S' }}
                    </button>
                  </div>

                </div>

                <div class="col">
                  <label class="text-muted fw-semibold">Strike</label>
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <label class="text-muted fw-semibold">Quantity</label>
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBear()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bearQuantity }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBear()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">CE/PE</label>
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsCE ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearCE()"
                    >
                      {{ bearIsCE ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <label for="expiry" class="form-label">Expiry</label>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsBuyRow ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearRow()"
                    >
                      {{ bearIsBuyRow ? 'B' : 'S' }}
                    </button>
                  </div>

                </div>

                <div class="col">
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBearRow()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bearQuantityRow }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBearRow()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsCERow ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearCERow()"
                    >
                      {{ bearIsCERow ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h6 class="fw-bold mb-3">Trade 2</h6>

            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">B/S</label>

                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsBuyTrade2 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullTrade2()"
                    >
                      {{ bullIsBuyTrade2 ? 'B' : 'S' }}
                    </button>
                  </div>
                </div>

                <div class="col">
                  <label class="text-muted fw-semibold">Strike</label>
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <label class="text-muted fw-semibold">Quantity</label>
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBullTrade2()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bullQuantityTrade2 }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBullTrade2()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">CE/PE</label>
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsCETrade2 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullCETrade2()"
                    >
                      {{ bullIsCETrade2 ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <label for="expiry" class="form-label">Expiry</label>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsBuyRowTrade2 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullRowTrade2()"
                    >
                      {{ bullIsBuyRowTrade2 ? 'B' : 'S' }}
                    </button>
                  </div>
                </div>

                <div class="col">
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBullRowTrade2()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bullQuantityRowTrade2 }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBullRowTrade2()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsCERowTrade2 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullCERowTrade2()"
                    >
                      {{ bullIsCERowTrade2 ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <h6 class="fw-bold mb-3">Trade 2</h6>

            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">CE/PE</label>
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsBuyTrade2 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearTrade2()"
                    >
                      {{ bearIsBuyTrade2 ? 'B' : 'S' }}
                    </button>
                  </div>

                </div>

                <div class="col">
                  <label class="text-muted fw-semibold">Strike</label>
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <label class="text-muted fw-semibold">Quantity</label>
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBearTrade2()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bearQuantityTrade2 }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBearTrade2()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">CE/PE</label>
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsCETrade2 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearCETrade2()"
                    >
                      {{ bearIsCETrade2 ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <label for="expiry" class="form-label">Expiry</label>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsBuyRowTrade2 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearRowTrade2()"
                    >
                      {{ bearIsBuyRowTrade2 ? 'B' : 'S' }}
                    </button>
                  </div>

                </div>

                <div class="col">
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBearRowTrade2()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bearQuantityRowTrade2 }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBearRowTrade2()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsCERowTrade2 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearCERowTrade2()"
                    >
                      {{ bearIsCERowTrade2 ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h6 class="fw-bold mb-3">Trade 3</h6>

            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">B/S</label>

                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsBuyTrade3 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullTrade3()"
                    >
                      {{ bullIsBuyTrade3 ? 'B' : 'S' }}
                    </button>
                  </div>
                </div>

                <div class="col">
                  <label class="text-muted fw-semibold">Strike</label>
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <label class="text-muted fw-semibold">Quantity</label>
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBullTrade3()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bullQuantityTrade3 }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBullTrade3()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">CE/PE</label>
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsCETrade3 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullCETrade3()"
                    >
                      {{ bullIsCETrade3 ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <label for="expiry" class="form-label">Expiry</label>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsBuyRowTrade3 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullRowTrade3()"
                    >
                      {{ bullIsBuyRowTrade3 ? 'B' : 'S' }}
                    </button>
                  </div>
                </div>

                <div class="col">
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBullRowTrade3()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bullQuantityRowTrade3 }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBullRowTrade3()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bullIsCERowTrade3 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBullCERowTrade3()"
                    >
                      {{ bullIsCERowTrade3 ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <h6 class="fw-bold mb-3">Trade 3</h6>

            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">CE/PE</label>
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsBuyTrade3 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearTrade3()"
                    >
                      {{ bearIsBuyTrade3 ? 'B' : 'S' }}
                    </button>
                  </div>

                </div>

                <div class="col">
                  <label class="text-muted fw-semibold">Strike</label>
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <label class="text-muted fw-semibold">Quantity</label>
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBearTrade3()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bearQuantityTrade3 }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBearTrade3()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <label class="text-muted fw-semibold d-block mb-2">CE/PE</label>
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsCETrade3 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearCETrade3()"
                    >
                      {{ bearIsCETrade3 ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <label for="expiry" class="form-label">Expiry</label>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3 mb-3 border rounded bg-light">
              <div class="row g-2 align-items-end">
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsBuyRowTrade3 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearRowTrade3()"
                    >
                      {{ bearIsBuyRowTrade3 ? 'B' : 'S' }}
                    </button>
                  </div>

                </div>

                <div class="col">
                  <select class="form-control bg-white border">
                    <option>ITM +6</option>
                    <option>ITM +5</option>
                    <option>ITM +4</option>
                    <option>ITM +3</option>
                    <option>ITM +2</option>
                    <option>ITM +1</option>
                    <option>ATM 0</option>
                    <option>OTM +1</option>
                    <option>OTM +2</option>
                    <option>OTM +3</option>
                    <option>OTM +4</option>
                    <option>OTM +5</option>
                    <option>OTM +6</option>
                  </select>
                </div>
                <div class="col">
                  <div class="input-step">
                    <button
                      type="button"
                      class="minus"
                      (click)="decreaseBearRowTrade3()"
                    >
                      –
                    </button>
                    <input
                      type="number"
                      class="product-quantity"
                      id="quantity1"
                      value="{{ bearQuantityRowTrade3 }}"
                      min="0"
                      max="100"
                      readonly
                    />
                    <button type="button" class="plus" (click)="increaseBearRowTrade3()">
                      +
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="col bs-switch-container">
                    <button
                      type="button"
                      class="btn rounded-pill"
                      [ngClass]="bearIsCERowTrade3 ? 'btn rounded-pill btn-primary' : 'btn rounded-pill btn-danger'"
                      (click)="toggleBearCERowTrade3()"
                    >
                      {{ bearIsCERowTrade3 ? 'CE' : 'PE' }}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <select class="form-control bg-white border">
                      <option>Expiry</option>
                      <option value="14/08/2025">14/08/2025</option>
                      <option value="21/08/2025">21/08/2025</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
