<div class="row">
  <div class="col-xl-8">
      <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Basic Candlestick Chart</h4>
        </div><!-- end card header -->

        <div class="card-body">
            <apx-chart [series]="basicCandlestickChart.series" [chart]="basicCandlestickChart.chart"
                [xaxis]="basicCandlestickChart.xaxis" [yaxis]="basicCandlestickChart.yaxis"
                [title]="basicCandlestickChart.title" [plotOptions]="basicCandlestickChart.plotOptions"
                dir="ltr"></apx-chart>
        </div><!-- end card-body -->
    </div><!-- end card -->
  </div>

  <div class="col-xl-4">
      <div class="card">
          <div class="card-header border-0 align-items-center d-flex">
              <div class="col-lg-6">
                  <div class="mb-3">
                      <!-- <ng-select [items]="symbols" bindLabel="name" bindValue="id" [(ngModel)]="selectedSymbols"
                          [multiple]="false" [closeOnSelect]="true" clearable="false" placeholder="Positions">
                      </ng-select> -->
                      <label for="Positions">Positions</label>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
