<div class="card my-auto overflow-hidden">
    <div class="row g-0">
        <div class="col-lg-6">
            <div class="d-flex h-100 bg-auth align-items-end">
                <div class="p-lg-5 p-4">
                    <div class="bg-overlay bg-primary"></div>
                    <div class="p-0 p-sm-4 px-xl-0 py-5">
                        <div id="reviewcarouselIndicators" class="carousel slide auth-carousel">

                            <ngb-carousel [interval]="3000" [showNavigationIndicators]="false"
                                [showNavigationArrows]="false">
                                <ng-template ngbSlide *ngFor="let testimonial of testimonials">
                                    <div class="testi-contain text-center">
                                        <h5 class="fs-20 text-white mb-0">{{ testimonial.title }}</h5>
                                        <p class="fs-15 text-white-50 mt-2 mb-0">
                                            {{ testimonial.content }}
                                        </p>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                        <!-- end review carousel -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="p-lg-5 p-4">
                <div class="text-center">
                    <h5 class="mb-0">Create New Account</h5>
                </div>

                <div class="mt-4">
                    <form class="auth-input" [formGroup]="registerUser" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="FName" class="form-label">First Name</label>
                            <input type="text" class="form-control" formControlName="FName" id="FName" placeholder="Enter First Name">
                        </div>

                        <div class="mb-3">
                            <label for="LName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" formControlName="LName" id="LName" placeholder="Enter Last Name">
                        </div>

                        <div class="mb-3">
                            <label for="Phone" class="form-label">Mobile</label>
                            <input type="text" class="form-control" formControlName="Phone" id="Phone" placeholder="Enter Mobile No.">
                        </div>

                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="text" class="form-control" formControlName="Email" id="Email" placeholder="Enter Email">
                        </div>

                        <div class="mb-3">
                            <label for="Address" class="form-label">Address</label>
                            <textarea class="form-control" formControlName="Address" id="Address" placeholder="Enter Address"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="GST" class="form-label">GST</label>
                            <input type="text" class="form-control" formControlName="GST" id="GST" placeholder="Enter GST">
                        </div>

                        <div class="mb-3">
                            <label for="Gender" class="form-label">Gender</label><br>
                            <input class="form-check-input" type="radio" name="Gender" formControlName="Gender" id="Gender" value="Male"> Male<br>
                            <input class="form-check-input" type="radio" name="Gender" formControlName="Gender" id="Gender" value="Female"> Female
                        </div>

                        <div class="mt-2">
                            <button class="btn btn-primary w-100" type="submit">Sign Up</button>
                        </div>

                        <div class="mt-4 text-center">
                            <div class="signin-other-title">
                                <h5 class="fs-15 mb-3 title">Create account with</h5>
                            </div>

                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="javascript:void()"
                                        class="social-list-item bg-danger text-white border-danger">
                                        <i class="mdi mdi-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="mt-4 text-center">
                            <p class="mb-0">Don't have an account ? <a [routerLink]="['/auth/auth-signin']"
                                    class="fw-medium text-primary text-decoration-underline"> Signin </a> </p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>